/*更深的內容*/
.left{
    position: absolute;
    top:0%;
    left:0%;
    width: 20%;
    height: 100%;
}
#square{
    background-color: rgba(173, 211, 233, 0.308);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
#block{
    display: none;
    position: absolute;
    border:darkorchid 0.5px solid;
    border-radius: 5px;
    margin-top: 0px;
    top: 15%;
    left: 20%;
    width: 700px;
    background-color: rgb(240, 223, 248);
    z-index: 3;
}
body{
    z-index: 1;
}
iframe{
    margin: 0;
    position: absolute;
    top:0%;
    left:20%;
    width: 80%;
    height: 100%;
}
.title{
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%,0%);
    font-size: 30px;
    width: 100%;
    text-align: center;
}
.content0{
    position: absolute;
    left: 50%;
    width: 80%;
    top: 30%;
    transform: translate(-50%,0);
    font-size: 20px;
}
.content1{
    position: absolute;
    left: 50%;
    width: 80%;
    top: 30%;
    transform: translate(-50%,0);
    font-size: 20px;
    color:rgb(214, 214, 212);
}
.content1>p{
    text-align:center;
}
.content0>p{
    cursor: pointer;
    overflow:auto; 
    text-align:center;
    border: lightslategray 0.5px solid;
    border-radius: 5px;
    background-color: rgb(214, 214, 214);
}
.content0>p:active{background-color: rgb(173, 173, 173);}
/*內容*/
#left:hover{background-color:rgba(138, 136, 136, 0.945) ;}
#right:hover{background-color:rgba(138, 136, 136, 0.945) ;}
#left{  
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
#right{  
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
#middle{  
    border:rgb(121, 117, 117) 0px solid;
    background-color:rgb(112, 111, 111) ;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
/*外層*/
    /*body>div{}*/
#Left:hover{background-color:rgba(138, 136, 136, 0.8);}/*onmouseover*/
#Right:hover{background-color:rgba(138, 136, 136, 0.8);}
#Left{
    background-color: rgba(138, 136, 136, 0.623);
    height: 100%;
    width: 10%;
    position: absolute;
    left: 0%;
    z-index: 2;
}
#Middle{
    background-color: rgb(235, 235, 235);
    height: 100%;
    width: 80%;
    position: absolute;
    left: 10%;
}
#Right{
    background-color: rgba(138, 136, 136, 0.623);
    height: 100%;
    width: 10%;
    position: absolute;
    left: 90%;
    z-index: 2;
}

